:root.theme-light {
  --page-background-color: #fff1f7;
  --page-background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --decor-text-color: #353430;
  --main-text-color: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark),
  :root.theme-auto {
    --page-background-color: #fff1f7;
    --page-background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --decor-text-color: #353430;
    --main-text-color: #353430;
    --rec-display: none;
  }
}
